/*****************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/



/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
html {
  font: 20px/1.4 "Source Serif Pro", serif;
}

#thomas-dialog {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#thomas-dialog #thomas-dialog-content {
    align-self: center;
    margin: 100px auto;
    padding: 10px;
    width: 320px;
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#thomas-dialog #thomas-dialog-content a {
    border: 1px solid #3d3987;
    padding: 5px 15px;
    margin: 0 0 0 10px;
    float: right;
    text-decoration: none;
}

#thomas-dialog #thomas-dialog-content a:hover {
    background-color: #EEEEEE;
}

/******************************************************************************
  HEADINGS
************
  h1, h2, h3, h4, h5, h6
******************************************************************************/



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/



/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, svg, audio, video, track, map, area, iframe
******************************************************************************/



/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option,
  datalist, textarea, output
******************************************************************************/



/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/



/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q,
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo,
  ruby, rt, rp, span
******************************************************************************/



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/
::selection {
    background-color: #3d3987;
}


/******************************************************************************
  CLASSES
******************************************************************************/
.header-container, 
.footer-container, 
.main aside {
    background: #3d3987;
}

