/*****************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/



/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
html {
  font: 20px/1.4 "Source Serif Pro", serif;
}



/******************************************************************************
  HEADINGS
************
  h1, h2, h3, h4, h5, h6
******************************************************************************/



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/



/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, svg, audio, video, track, map, area, iframe
******************************************************************************/



/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option,
  datalist, textarea, output
******************************************************************************/



/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/



/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q,
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo,
  ruby, rt, rp, span
******************************************************************************/



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/
::selection {
    background-color: #3d3987;
}


/******************************************************************************
  CLASSES
******************************************************************************/
.header-container, 
.footer-container, 
.main aside {
    background: #3d3987;
}

